.store-Card {
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.store-Card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    margin: 0 auto;
}