.siderHeight {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.siderHeight::-webkit-scrollbar {
    width: 4px;
    /*height: 4px;*/
}

.store-Card {
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.store-Card-row {
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    margin: 0 auto;
}


.logo {
    position: relative;
    left: -27px;
    top: -20px;
    margin: 10px;
}

.title-logo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inputBook{
    margin: 0 800px;
}